#msgWindow {
  display: inline-block;
  white-space: pre;
  overflow-y: auto;
  overflow-x: hidden;
  width: 87vw;
  height: 76vh;
}
 
#roomWindow {
  white-space: pre;
  overflow-y: auto;
  overflow-x: hidden;
  width: 10vw;
  height: 76vh;
}
 
#newRoom {
	width: 10vw;
}
 
.shadow {
  box-shadow: 2px 2px 4px 1px #000000;
  padding-top: 10px;
  padding-right: 1px;
  padding-bottom: 10px;
  padding-left: 15px;
}

.allMsg {
	max-width: 75vw !important;
	white-space: pre-wrap;
	word-break: break-all;
}
 
.userSpan {
	font-size: 9pt;
	background-color: #FFFFCC;
	width: 100px;
	max-width: 100px;
	min-width: 100px;
}

.privTag {
 color:green;
}

.privMsg {
  font-style:italic;
  white-space: pre-wrap;
}
 
.sysMsg {
  font-style: italic;
  color: grey;
  white-space: pre-wrap;
}

.tipSpan {
	width: 50px;
}

body {
   margin: 0;
   padding: 0;
}