#msgWindow {
  display: inline-block;
  white-space: pre;
  overflow-y: auto;
  overflow-x: hidden;
  /*width: 82vw;*/
  height: 76vh;
}
 
#msg {
	width: 77vw; 
	display:inline-block;
}
 
#roomWindow {
  white-space: pre;
  overflow-y: auto;
  overflow-x: hidden;
  width: 192px;
  height: 76vh;
}
 
#newRoom {
	width: 10vw;
}

#sendmsg {
	width: 64px;
}
 
.shadow {
  box-shadow: 2px 2px 4px 1px #000000;
  padding-top: 10px;
  padding-right: 15px;
  padding-bottom: 10px;
  padding-left: 15px;
}

.allMsg {
	max-width: 75vw !important;
	white-space: pre-wrap;
	word-break: break-all;
}
 
.userSpan {
	font-size: 9pt;
	background-color: #FFFFCC;
	width: 100px;
	max-width: 100px;
	min-width: 100px;
}

.privTag {
 color:green;
}

.privMsg {
  font-style:italic;
  white-space: pre-wrap;
}
 
.sysMsg {
  font-style: italic;
  color: grey;
  white-space: pre-wrap;
}

.tipSpan {
	width: 50px;
}

.round-left {
	border-radius: 5px 0 0 5px !important;
}

.round-right {
	border-radius: 0 5px 5px 0 !important;
}

.mono {
	font-size: 9pt !important;
    font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
}